---

- name: Remove repo files
  become: true
  when: ansible_os_family == "RedHat"
  loop: "{{ dnf_repo_files }}"
  loop_control:
    loop_var: repo
    label: "{{ repo.name }}"
  ansible.builtin.yum_repository:
    name: "{{ repo.name }}"
    state: absent
  register: repo_removal

- name: Remove local mirror entries
  become: true
  when: ansible_os_family == "Debian"
  ansible.builtin.lineinfile:
    path: "{{ repos_path_debian }}"
    regexp: '{{ local_registry }}'
    state: absent

- name: Include dnf cache reload
  when: repo_removal.changed and ansible_os_family == "RedHat"
  ansible.builtin.include_tasks:
    file: dnf_clean.yml

- name: Include apt cache reload
  when: repo_removal.changed and ansible_os_family == "Debian"
  ansible.builtin.include_tasks:
    file: apt_clean.yml

- name: Remove pip config
  become: true
  ansible.builtin.file:
    path: "{{ pip_global_config_path }}"
    state: "absent"

...
