---

- name: Check if repo file exists
  ansible.builtin.stat:
    path: "{{ role_path }}/files/{{ ansible_facts.distribution | lower }}.yml"
  register: repo_file
  delegate_to: localhost

- name: Load repository list from YAML file
  when: repo_file.stat.exists
  ansible.builtin.include_vars:
    file: "{{ repo_config }}"

- name: Clean dnf changes
  when: ansible_facts.os_family == "RedHat"
  block:
    - name: Remove repo files
      become: true
      loop: "{{ system_packages_repo_list }}"
      loop_control:
        loop_var: repo
        label: "{{ repo.name }}"
      ansible.builtin.yum_repository:
        name: "{{ repo.name }}"
        state: absent
      register: repo_removal

    - name: Clean dnf cache
      become: true
      ansible.builtin.command:
        cmd: dnf clean all
      register: dnf_clean_result
      changed_when: dnf_clean_result.rc == 0

    - name: Update dnf metadata cache
      become: true
      ansible.builtin.dnf:
        update_cache: true

- name: Remove pip config
  become: true
  ansible.builtin.file:
    path: "{{ pip_global_config_path }}"
    state: "absent"

...
