---

- name: Clean dnf cache
  become: true
  ansible.builtin.command:
    cmd: dnf clean all
  register: dnf_clean_result
  changed_when: dnf_clean_result.rc == 0

- name: Update dnf metadata cache
  become: true
  ansible.builtin.dnf:
    update_cache: true

...
