---

- name: Check if repo file exists
  ansible.builtin.stat:
    path: "{{ role_path }}/files/{{ ansible_distribution | lower }}.yml"
  register: repo_file
  delegate_to: localhost

# TODO test loading vars as template to achieve variable substitution
- name: Load repository list from YAML file
  when: repo_file.stat.exists
  ansible.builtin.include_vars:
    file: "{{ repo_config }}"

- name: Include repo files logic
  ansible.builtin.include_tasks:
    file: "{{ ansible_os_family | lower }}_repos.yml"

# - name: Insert local mirror
#   become: true
#   when: ansible_os_family == "Debian"
#   loop: "{{ apt_repo_entries | subelements('components') }}"
#   loop_control:
#     label: "{{ item.0.suite }}"
#   ansible.builtin.lineinfile:
#     path: "{{ repos_path_debian }}"
#     line: "deb {{ local_registry }} {{ item.0.suite }} {{ item.1 }}"
#     insertbefore: "deb .*{{ item.0.suite }} {{ item.1 }}"
#   register: apt_repo_setup

- name: Configure pip registries
  become: true
  when: pip_local_regsitry
  ansible.builtin.template:
    src: "pip.conf.j2"
    dest: "{{ pip_global_config_path }}"
    mode: "0644"
    owner: "root"
    group: "root"

...
