---

- name: Load repository list from YAML file
  ansible.builtin.include_vars:
    file: "{{ repo_config }}"

- name: Get enabled repos
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      dnf repolist --enabled | awk 'NR > 1 {print $1}'
    executable: /bin/bash
  changed_when: false
  register: enabled_repos_result

- name: Test enabled repos
  loop: "{{ repo_list }}"
  loop_control:
    loop_var: repo
    label: "{{ repo.name }}"
  ansible.builtin.assert:
    that:
      - repo.name in enabled_repos_result.stdout_lines
    fail_msg: "Failed to find {{ repo.name }}"
    quiet: true

...
