---

- name: Get enabled repos
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      dnf repolist --enabled | awk 'NR > 1 {print $1}'
    executable: /bin/bash
  changed_when: false
  register: enabled_repos_result

- name: Test enabled repos
  loop: "{{ dnf_repo_files }}"
  loop_control:
    loop_var: repo
    label: "{{ repo.section }}"
  ansible.builtin.assert:
    that:
      - repo.section in enabled_repos_result.stdout_lines
    fail_msg: "Failed to find {{ repo.section }}"
    quiet: true

...
