[{{ repo.section }}]
name={{ repo.name }}
baseurl={{ repo.baseurl }}
enabled={{ repo.enabled }}
gpgcheck={{ repo.gpgcheck }}
countme={{ repo.countme }}
gpgkey={{ repo.gpgkey }}
metadata_expire={{ repo.metadata_expire }}
enabled_metadata={{ repo.enabled_metadata }}
priority={{ repo.priority }}
timeout={{ repo.timeout }}
skip_if_unavailable={{ repo.skip_if_unavailable }}
